body{
  background-color:lightpink;
}
h1{
  color:red;
  text-align: center;
  font-family:Lobster;
  border:5px solid black;
  padding:20px;
}
h2{
  color: purple;
  text-align: center;
  border: 5px dotted purple;
  padding: 20px;
}
img{
  border:5px solid purple;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#emily{
  color:brown;
  text-align: center;
  border: 5px dotted brown;
  padding: 20px;
}
#emilyf{
  border: 5px solid brown;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#hanna{
  color: blue;
  display: block;
  border: 5px dotted blue;
  margin-left: auto;
  margin-right: auto;
}
#hannam{
  border: 5px solid blue;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#spencer{
  color:red;
  display:block;
  border: 5px dotted red;
  margin-left: auto;
  margin-right: auto;
}
#spencerh{
  border: 5px solid red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#aria{
  color: darkolivegreen;
  display: block;
  border: 5px dotted darkolivegreen;
  margin-left: auto;
  margin-right: auto;
}
#ariam{
  border: 5px solid darkolivegreen;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
