body{
  background-color:lightpink;
}
h1{
  http://pretty-little-liars.wikia.com/wiki/Emily_Fields
  color:red;
  text-align: center;
  font-family:Lobster;
  border:5px solid black;
  padding:20px;
}
h2{
  color:purple;
  text-align: center;
  border: 5px dotted purple;
  padding: 20px;
}
img{
  border:5px solid black;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#emily{
  color:brown;
  text-align: center;
  border: 5px dotted brown
  padding: 20px;
}
