body{
  background-color:lightpink;
}
h1{
  color:red;
  text-align: center;
  font-family:Lobster;
  border:5px solid black;
  padding:20px;
}
img{
  border:5px solid red;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
h2{
  color: indigo;
  text-align: center;
  border: 5px dotted indigo;
  padding: 20px;
}
a:hover{
  text-decoration: inherit;
  background-color: #cc00cc;
  font-size: 20px;
}
a:link {
    text-decoration: none;
    padding: 14px 25px;
}
nav{
  text-align: center;
}
